{% extends '../layout.html' %}
{% block content %}
    <h1>文章管理首页</h1>
    <a href="/article/create">添加文章</a>

    {%include '../page.html'%}
    <table class="table table-hover table-striped">
        <tr>
            <!--<th>ID</th>-->
            <th>标题</th>
            <th>作者</th>
            <th>添加时间</th>
            <th>所属分类</th>
            <th>阅读量</th>
            <th>简介</th>
            <th>操作</th>
        </tr>
        {% for article in articles %}
        <!--<li>{{ loop.index }} - {{ loop.key }}: {{ article.title }}</li>-->
        <tr>
            <!--<td>{{category._id.toString()}}</td>-->
            <td>{{article.title}}</td>
            <td>{{article.user.username}}</td>
            <td>{{article.addTime | date('Y-m-d H:i:s',-8*60)}}</td>
            <td>{{article.category.name}}</td>
            <td>{{article.views}}</td>
            <td>{{article.description}}</td>
            <td>
                <a href="/article/view?id={{article._id.toString()}}">详情</a> |
                <a href="/article/edit?id={{article._id.toString()}}">修改</a> |
                <a href="javascript:;" onclick="disp_confirm('/article/delete?id={{article._id.toString()}}')">删除</a>
            </td>
        </tr>
        {%endfor%}
    </table>
    {%include '../page.html'%}
{% endblock %}
